@font-face {
  font-family: iranSans;
  src: url(/src/Assets/fonts/IRANSansWeb.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: iranSans !important;
}
.app {
  width: 100%;
  min-height: 100vh;
  direction: rtl;
}
.ag-header {
  height: 35px !important;
  min-height: 35px !important;
}
.ag-header-row {
  height: 100% !important;
}
.ag-header-cell-text,
.ag-cell-value {
  font-size: 11px;
}
.ag-header-cell {
  padding: 0 5px !important;
}
.ag-cell {
  padding: 0 5px !important;
}
.ant-modal-close {
  right: unset !important;
  left: 0 !important;
}
.Toastify__toast-body {
  color: white !important;
}
.Toastify__toast-icon {
  display: none !important;
}
.Toastify__close-button {
  color: white !important;
  opacity: 1 !important;
}
.Toastify__progress-bar {
  background-color: rgba(255, 255, 255, 0.774) !important;
  margin-bottom: 0.65px !important;
}
.apexcharts-title-text ,  .apexcharts-yaxis-title-text{
  display: none !important;
}
.apexcharts-legend-marker,.apexcharts-tooltip-marker{
  margin-left: 3px;
}
.apexcharts-legend-text{
  font-weight: 550 !important;
}